{% extends 'base.html' %}

{% block title %} Super Admin {% endblock %}



{% block content %}
<br>
<br>
<br>
<br>
<br>
<div class="super-container-random">
    <div class="super-card-random">
        <div class="super-card-body-random">
            <h1 class="super-h1-random text-center mb-5">Super Admin - Dashboard</h1>
            <table class="super-table-random">
                <thead>
                    <tr>
                        <th class="super-th-random">Links</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="super-td-random">
                            <a href="/shop-items" class="super-link-random">Shop Items</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="super-td-random">
                            <a href="/add-product" class="super-link-random">Add Shop Items</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="super-td-random">
                            <a href="/view-orders" class="super-link-random">View Orders</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}
